<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {% if a > b > c %}
        <h1>statements is under if condition</h1>
        <h1>
            a is max
        </h1>
        {% elif b > c %}
        <h1>statements is under elif condition</h1>
        <h1>
            b is max
        </h1>
        {% else %}
        <h1>statement is under else condition</h1>
        <h1>
            c is max
        </h1>
        {% endif %}
    </center>
    
</body>
</html>